<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../public/javascripts/ie8compatibility.js"></script>
    <!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INDEX LANDING</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/stylesheets/common.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/education.css" media="screen" >
    <link rel="stylesheet" href="../public/stylesheets/animations.css" media="screen">
  </head>
  <body>

    <!-- HEADER WITH TOP NAV AND MAIN NAVIGATION -->
    <header>
      <div class="headerBorder">
        <div class="navTop">
          <div class="navlist">
            <ul>
              <li><a href="#" target="_self">MY NANN</a></li>
              <li><a href="#" target="_self">STORE</a></li>
              <li><a href="#" target="_self">CONTACT</a></li>
              <li><a href="#" target="_self">LOGIN</a></li>
            </ul>
          </div>
          <div class="search">
            <form class="searchForm" action="index.html" method="post">
              <input class="textSearch" type="text" name="name" placeholder="search...">
            </form>
            <div class="searchIcon" title="click to search">
                <div class="circle"></div>
                <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-ct">
        <a href="#"><img class="logo" src="../public/images/nannLogo.png" alt="National Association of Neonatal Nurses logo." title="National Association of Neonatal Nurses"/></a>
        <nav class="mainNav">
          <ul>
            <li><a href="file:///Users/teresatorres/dev/wdi/NANN/views/index.html">ABOUT</a></li>
            <li><a href="#">MEMBERSHIP</a></li>
            <li><a href="file:///Users/teresatorres/dev/wdi/NANN/views/education.html">EDUCATION</a></li>
            <li><a href="#">PROFESSIONAL DEVELOPMENT</a></li>
            <li><a href="#">PARTNERS</a></li>
            <li><a href="#">PUBLICATIONS</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!--EDUCATION PAGE CONTAINER -->
    <div class="page-ctn">
      <div class="spacer"></div>
      <div class="content b-ct">

        <section class="artInfo">
          <article class="art-ct">
            <h2>Interior Page Headline</h2>
            <p>
                Sequi vellesequi dem nulpa dolut et odio exeria quae etusdan ducimpor apit illamus enimendit, que omniendebis aliquuntio. Itatend itemporio. Nequae essinvent ulloreperum, te non eatiae. Itatem quas- perorum volent maxim ventur? Ipit, officte ndaerio nsequae nisciatusam voluptatem ex essimagnis exces et, oditat adipien imincime voloritatam inctore nos volo te poreperrunt et es sinvenis doluptae. Nem volo que pa estrumq uidentiae. Sequi nimenda eturibus adicimu sanderorpore nonsenda porat.
            </p>
            <img src="../public/images/tradeShowGroup.jpg" alt="WRITE SOMETHING DESCRIPTIVE HERE" />
            <p>
              Ipit, officte ndaerio nsequae nisciatusam voluptatem ex essimag-
              nis exces et, oditat adipien imincime voloritatam inctore nos volo
              te poreperrunt et es sinvenis doluptae. Nem volo que pa estrumq uidentiae et es sinvenis doluptae. Nem volo que pa estrumq uidenti- ae et es sinvenis doluptae. Nem volo que pa estrumq uidentiae. Sequi nimenda eturibus adicimu sanderorpore nonsenda porat.
            </p>
          </article>

          <article class="art-ct">
            <h2>Uptaeped ut harum nis eosti</h2>
            <p>
              rehende liquam, quo tet, que nonsed minvel expliquo et aut quistiu sdandus nobisquas sundiore, opta- si corende lit volum nem voloria vel et la di officatur, te idestium re cum, nones volent et velestrum ipsamus apitatque rehentium ident endebit, sit quae dis eosamus andaectatur?
              <ul>
                <li>Et fugiaspero quat quatiur, voloren imolore, vo</li>
                <li>Riorem nus qui optur? Qui reiust et lab ipiet earum debisin culles tatq uisquo qui doluptat.</li>
                <li>Is est, quatium ea consed explit faccusantur, nonsequi beate magnamusdae commolore elec</li>
              </ul>
            </p>
            <article>
              <h3>Headline 3</h3>
              <p>
                rehende liquam, quo tet, que nonsed minvel expliquo et aut quistiu sdandus nobisquas sundiore, opta- si corende lit volum nem voloria vel et la di officatur, te idestium re cum, nones volent et velestrum ipsamus apitatque rehentium ident endebit, sit quae dis eosamus andaectatur?
              </p>
            </article>
            
            <article>
              <h3>Headline 3</h3>
              <p>
                rehende liquam, quo tet, que nonsed minvel expliquo et aut quistiu sdandus nobisquas sundiore, opta- si corende lit volum nem voloria vel et la di officatur, te idestium re cum, nones volent et velestrum ipsamus apitatque rehentium ident endebit, sit quae dis eosamus andaectatur?
              </p>
            </article>
          </article>

          <article class="art-ct">
            <h2>Pudigenis sit, aute etus, iminiae nia culparum</h2>
            <p>
              facepta doluptatur, quoditiume nestrum ut eos est autaquo eossuntio te venient am veliquis re iduci- atquia quiam laut eaquiae coriatis eos eaque doloreium quamet vendebis et aut que voloriation cum sinum alit ut is asimuscitas quam inctur, conem quiscipis iliciassed eum ium quam nis ut optaquis mo- diat
            </p>
          </article>


        </section>

        <aside class="sideNav">
          <nav>
            <ul class="mainList">
              <li><a class="activeLink" href="#">Annual Meeting</a>
                <ul class="subList">
                  <li><a href="#">Registration</a></li>
                  <li><a class="subLink" href="file:///Users/teresatorres/dev/wdi/NANN/views/continuingEducation.html" target="_self">Continuing Education</a></li>
                  <li><a href="#" target="_self">Schedule</a></li>
                  <li><a href="#" target="_self">Travel Information</a></li>
                  <li><a href="#" target="_self">Exhibit Hall</a></li>
                  <li><a href="#" target="_self">Abstracts</a></li>
                </ul>
              </li>
              <li><a href="#" target="_self">Scholarships</a></li>
              <li><a href="#" target="_self">Research</a></li>
              <li><a href="#" target="_self">Online Learning</a></li>
            </ul>
          </nav>
        </aside>



      </div>
    </div>

    <!-- FOOTER SECTION -->
    <footer>
      <div class="info-loc">
        <strong>&copy; National Association of Neonatal Nurses</strong>
        <address>
          <a href="https://maps.google.com/" target="_blank">8735 W. Higgins Road, Suite 300<br>Chicago, IL 60631</a><br>
          <a href="mailto:info@nann.org">info@nann.org</a><br>
          <a href="tel:+8004513795">800.451.3795</a>
        </address>
      </div>
      <div class="socialMedia">
        <ul>
          <li><a href="https://www.youtube.com/" target="_blank"><img src="../public/images/youTubeIcon.png" alt="Follow us on You Tube" /></a></li>
          <li><a href="https://instagram.com/" target="_blank"><img src="../public/images/instagramIcon.png" alt="Follow us on Instagram" /></a></li>
          <li><a href="https://twitter.com/?lang=en" target="_blank"><img src="../public/images/twitterIcon.png" alt="Follow us on Twitter" /></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><img src="../public/images/facebookIcon.png" alt="Follow us on Facebook" /></a></li>
          <li><a href="https://www.linkedin.com/" target="_blank"><img src="../public/images/linkedinIcon.png" alt="Follow us on Linkedin" /></a></li>
        </ul>
      </div>

    </footer>


    <!-- SCRIPTS DEPENDENCIES -->
    <script src="../public/javascripts/lib/jquery.min.js"></script>
    <!-- APPLICATION JAVASCRIPT -->
    <script src="../public/javascripts/app.js"></script>
    <!-- ALERT TO UPDATE OLDER BROWSERS -->
    <script src="../public/javascripts/alert.js"></script>

  </body>
</html>
