<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../public/javascripts/ie8compatibility.js"></script>
    <!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INDEX LANDING</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/stylesheets/common.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/education.css" media="screen" >
    <link rel="stylesheet" href="../public/stylesheets/landing.css" media="screen" >
    <link rel="stylesheet" href="../public/stylesheets/animations.css" media="screen">
        <link rel="stylesheet" href="../public/stylesheets/lib/jquery.mmenu.css" media="screen" >
  </head>
  <body>
    <div class="wrapper">
    <div class="back"></div>
    <!-- HEADER WITH TOP NAV AND MAIN NAVIGATION -->
    <header>
      <div class="headerBorder">
      <a href="#"><img src="../public/images/nannLogo.png" alt="National Association of Neonatal Nurses logo." title="National Association of Neonatal Nurses"/></a>
        <div class="navTop">
          <nav class="navlist">
            <ul>
              <li><a href="#" target="_self">MY NANN</a></li>
              <li><a href="#" target="_self">STORE</a></li>
              <li><a href="#" target="_self">CONTACT</a></li>
              <li><a href="#" target="_self">LOGIN</a></li>
              <li><a href="#mobile-menu"><div class="hamIcon">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div></a>
              </li>
            </ul>
          </nav>
          <div class="search">
            <form class="searchForm" action="index.html" method="post">
              <input class="textSearch" type="text" placeholder="search...">
              <input type="image" src="../public/images/searchIcon.png" alt="Submit">
            </form>
            <div class="searchIcon" title="click to search">
                <div class="circle"></div>
                <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-ct">
        <a href="#"><img src="../public/images/nannLogo.png" alt="National Association of Neonatal Nurses logo." title="National Association of Neonatal Nurses"/></a>
        <nav class="mainNav" id="mobile-menu">
          <ul>
            <li><a href="file:///Users/teresatorres/dev/wdi/NANN/views/index.html">ABOUT</a></li>
            <li><a href="#">MEMBERSHIP</a></li>
            <li><a class="mainActive" href="file:///Users/teresatorres/dev/wdi/NANN/views/education.html">EDUCATION</a></li>
            <li><a href="#">PROFESSIONAL<br>DEVELOPMENT</a></li>
            <li><a href="#">PARTNERS</a></li>
            <li><a href="#">PUBLICATIONS</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- EDUCATION PAGE CONTAINER -->
    <div class="page-ctn">
      <div class="content border">

        <!-- NANN ARTICLE SECTION -->
        <section class="artInfo">
          <img src="../public/images/tableMeeting.jpg" alt="WRITE SOMETHING DESCRIPTIVE HERE" />
          <article class="art-ct">
            <h2>Landing Page Headline-Education</h2>
            <p>
              Sequi vellesequi dem nulpa dolut et odio exeria quae etusdan ducimpor apit illamus enimendit, que omniendebis aliquuntio. Itatend itemporio. Nequae essinvent ulloreperum, te non eatiae. Itatem quas- perorum volent maxim ventur? Ipit, officte ndaerio nsequae nisciatusam voluptatem ex essimagnis exces et, oditat adipien imincime voloritatam inctore nos volo te poreperrunt et es sinvenis doluptae. Nem volo que pa estrumq uidentiae. Sequi nimenda eturibus adicimu sanderorpore nonsenda porat.
            </p>
            <ul>
              <li>Et fugiaspero quat quatiur, voloren imolore, vo</li>
              <li>Riorem nus qui optur? Qui reiust et lab ipiet earum debisin culles tatq uisquo qui doluptat.</li>
              <li>Is est, quatium ea consed explit faccusantur, nonsequi beate magnamusdae commolore elec</li>
            </ul>
            <p>
              Sit mo di adissim agnitis tiatiurit, as sanimol uptatur eceates del minis il id ut apidest ma sundit, tota nest, to doluptatur solor maiore conecullia ne dolor rempos quibus, omnienet venihil inciandit occaeca
            </p>
            <a href="#">CLICK HERE</a>
          </article>

          <article class="art-ct">
            <h2>Uptaeped ut harum nis eosti</h2>
            <p>
              rehende liquam, quo tet, que nonsed minvel expliquo et aut quistiu sdandus nobisquas sundiore, opta- si corende lit volum nem voloria vel et la di officatur, te idestium re cum, nones volent et velestrum ipsamus apitatque rehentium ident endebit, sit quae dis eosamus andaectatur?
            </p>
            <table>
              <tr>
                <th>
                  hey title
                </th>
                <th>
                  hey title
                </th>
                <th>
                  hey title
                </th>
              </tr>

              <tr>
                <td>
                  hey testing here too
                </td>
                <td>
                  hey testing here too
                </td>
                <td>
                  hey testing here too
                </td>
              </tr>
              <tr>
                <td>
                  hey testing here too
                </td>
                <td>
                  hey testing here too
                </td>
                <td>
                  hey testing here too
                </td>
              </tr>
              <tr>
                <td>
                  hey testing here too
                </td>
                <td>
                  hey testing here too
                </td>
                <td>
                  hey testing here too
                </td>
              </tr>
            </table>
          </article>

          <article class="art-ct">
            <img class="left" src="../public/images/tradeShow.jpg" alt="WRITE SOMETHING DESCRIPTIVE HERE" />
            <h2>Uptaeped ut harum nis eosti</h2>
            <p>
              rehende liquam, quo tet, que nonsed minvel expliquo et aut quistiu sdandus nobisquas sundiore, opta- si corende lit volum nem voloria vel et la di officatur, te idestium re cum, nones volent et velestrum ipsamus apitatque rehentium ident endebit, sit quae dis eosamus andaectatur?
            </p>
            <img class="right" src="../public/images/tradeShow.jpg" alt="WRITE SOMETHING DESCRIPTIVE HERE" />
            <p>
              rehende liquam, quo tet, que nonsed minvel expliquo et aut quistiu sdandus nobisquas sundiore, opta- si corende lit volum nem voloria vel et la di officatur, te idestium re cum, nones volent et velestrum ipsamus apitatque rehentium ident endebit, sit quae dis eosamus andaectatur?
            </p>
          </article>

          <article class="art-ct">
            <h2>Uptaeped ut harum nis eosti</h2>
            <p>
              rehende liquam, quo tet, que nonsed minvel expliquo et aut quistiu sdandus nobisquas sundiore, opta- si corende lit volum nem voloria vel et la di officatur, te idestium re cum, nones volent et velestrum ipsamus apitatque rehentium ident endebit, sit quae dis eosamus andaectatur?
            </p>
          </article>
        </section>

        <!-- SECONDARY NAVIGATION -->
        <aside class="sideNav">
          <nav>
            <ul>
              <li><a class="activeLink" href="#">Annual Meeting</a>
                <ul>
                  <li><a href="#" target="_self">Registration</a></li>
                  <li><a href="file:///Users/teresatorres/dev/wdi/NANN/views/continuingEducation.html" target="_self">Continuing Education</a></li>
                  <li><a href="#" target="_self">Schedule</a></li>
                  <li><a href="#" target="_self">Travel Information</a></li>
                  <li><a href="#" target="_self">Exhibit Hall</a></li>
                  <li><a href="#" target="_self">Abstracts</a></li>
                </ul>
              </li>
              <li><a href="#" target="_self">Scholarships</a></li>
              <li><a href="#" target="_self">Research</a>
                <ul>
                  <li><a href="#">testing Links</a></li>
                  <li><a href="#">testing Links</a></li>
                  <li><a href="#">testing links</a></li>
                </ul></li>
              <li><a href="#" target="_self">Online Learning</a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>

    <!-- FOOTER SECTION -->
    <footer>
      <div class="socialMedia">
        <ul>
          <li><a href="https://www.youtube.com/" target="_blank"><img src="../public/images/youTubeIcon.png" alt="Follow us on You Tube" /></a></li>
          <li><a href="https://instagram.com/" target="_blank"><img src="../public/images/instagramIcon.png" alt="Follow us on Instagram" /></a></li>
          <li><a href="https://twitter.com/?lang=en" target="_blank"><img src="../public/images/twitterIcon.png" alt="Follow us on Twitter" /></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><img src="../public/images/facebookIcon.png" alt="Follow us on Facebook" /></a></li>
          <li><a href="https://www.linkedin.com/" target="_blank"><img src="../public/images/linkedinIcon.png" alt="Follow us on Linkedin" /></a></li>
        </ul>
      </div>
      <address>
        <strong>&copy; National Association of Neonatal Nurses</strong><br>
        <a href="https://maps.google.com/" target="_blank">8735 W. Higgins Road, Suite 300<br>Chicago, IL 60631</a><br>
        <a href="mailto:info@nann.org">info@nann.org</a><br>
        <a href="tel:+8004513795">800.451.3795</a>
      </address>
    </footer>

    </div>
    <!-- SCRIPTS DEPENDENCIES -->
    <script src="../public/javascripts/lib/jquery.min.js"></script>
    <script src="../public/javascripts/lib/jquery.mmenu.min.js"></script>
    <!-- APPLICATION JAVASCRIPT -->
    <script src="../public/javascripts/app.js"></script>
    <!-- ALERT TO UPDATE OLDER BROWSERS -->
    <script src="../public/javascripts/alert.js"></script>

  </body>
</html>
