<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../public/javascripts/ie8compatibility.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INDEX LANDING</title>
    <link rel="stylesheet" href="../public/stylesheets/common.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/animations.css" media="screen">
  </head>
  <body>

    <header>

        <div class="navTop">
          <div class="navlist">
            <ul>
              <li><a href="#">MY NANN</a></li>
              <li><a href="#">STORE</a></li>
              <li><a href="#">CONTACT</a></li>
              <li><a href="#">LOGIN</a></li>
            </ul>
          </div>

          <div class="search">
            <form class="searchForm" action="index.html" method="post">
              <input class="textSearch" type="text" name="name" placeholder="search...">
            </form>
            <div class="searchIcon">
                <div class="circle"></div>
                <div class="line"></div>
            </div>
          </div>

        </div>

    </header>

    <!-- SCRIPTS DEPENDENCIES -->
    <script src="../public/javascripts/lib/jquery.min.js"></script>
    <!-- APPLICATION JAVASCRIPT -->
    <script src="../public/javascripts/app.js"></script>
  </body>
</html>
