<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../public/javascripts/ie8compatibility.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INDEX LANDING</title>
    <link rel="stylesheet" href="../public/stylesheets/lib/normalize.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/lib/skeleton.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/common.css" media="screen">
  </head>
  <body>

    <!-- SCRIPTS DEPENDENCIES -->
    <script src="../public/javascripts/lib/jquery.min.js"></script>
    <!-- APPLICATION JAVASCRIPT -->
    <script src="../public/javascripts/app.js"></script>
  </body>
</html>
