<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../public/javascripts/ie8compatibility.js"></script>
    <!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INDEX LANDING</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/stylesheets/common.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/landing.css" media="screen" >
    <link rel="stylesheet" href="../public/stylesheets/animations.css" media="screen">
  </head>
  <body>

    <!-- HEADER WITH TOP NAV AND MAIN NAVIGATION -->
    <header>

      <div class="headerBorder">
      <a href="#"><img src="../public/images/nannLogo.png" alt="National Association of Neonatal Nurses logo." title="National Association of Neonatal Nurses"/></a>
        <div class="navTop">
          <div class="navlist">
            <ul>
              <li><a href="#" target="_self">MY NANN</a></li>
              <li><a href="#" target="_self">STORE</a></li>
              <li><a href="#" target="_self">CONTACT</a></li>
              <li><a href="#" target="_self">LOGIN</a></li>
              <li><div class="hamIcon">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
              </li>
            </ul>
          </div>
          <div class="search">
            <form class="searchForm" action="index.html" name="" method="post">
              <input class="textSearch" type="text" name="name" placeholder="search...">
              <input type="image" src="../public/images/searchIcon.png" alt="Submit">
            </form>
            <div class="searchIcon" title="click to search">
                <div class="circle"></div>
                <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-ct">
        <a href="#"><img src="../public/images/nannLogo.png" alt="National Association of Neonatal Nurses logo." title="National Association of Neonatal Nurses"/></a>
        <nav class="mainNav">
          <ul>
            <li><a href="file:///Users/teresatorres/dev/wdi/NANN/views/index.html">ABOUT</a></li>
            <li><a href="#">MEMBERSHIP</a></li>
            <li><a href="file:///Users/teresatorres/dev/wdi/NANN/views/education.html">EDUCATION</a></li>
            <li><a href="#">PROFESSIONAL<br>DEVELOPMENT</a></li>
            <li><a href="#">PARTNERS</a></li>
            <li><a href="#">PUBLICATIONS</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- LADING PAGE CONTAINER -->
    <div class="page-ctn">

      <section class="heroMain">
        <h1>Making a difference for neonatal nurses, patients, and families.</h1>
      </section>

      <div class="content">

        <section class="cta">
          <div class="ctaLarge">
            <a href="#">
              <h2>BECOME A MEMBER</h2>
              <div>
                <img src="../public/images/confrence.png" alt="" />
                <span>JOIN</span>
              </div>
            </a>
          </div>
          <div class="ctaLarge">
            <a href="#">
              <h2>ANNUAL MEETING</h2>
              <div>
                <img src="../public/images/tutorial.png" alt="" />
                <span>REGISTER</span>
              </div>
            </a>
          </div>
          <div class="ctaLarge">
            <a href="#">
              <h2>ADVOCACY</h2>
              <div>
                <img src="../public/images/connect.png" alt="" />
                <span>READ MORE</span>
              </div>
            </a>
          </div>
        </section>

        <section class="newsFeed">
          <h1>Branded News Feed</h1>
          <article class="news">
            <h2>Headline 2</h2>
            <p>
              Icit quae quo quia iliquam dolore voluptasit quidus. mporatu Luptatquis et alignie nihillis placeaque assin nitamus et quiquae eos magnate mporatu ribusdae comnis mo eum nobis.
              <span><a href="#">Read More</a></span>
            </p>

          </article>
          <article class="news">
            <h2>Headline 2</h2>
            <p>
              Icit quae quo quia iliquam dolore voluptasit quidus. mporatu Luptatquis et alignie nihillis placeaque assin nitamus et quiquae eos magnate mporatu ribusdae comnis mo eum nobis.
              <span><a href="#">Read More</a></span>
            </p>
          </article>
          <article class="news">
            <h2>Headline 2</h2>
            <p>
              Icit quae quo quia iliquam dolore voluptasit quidus. mporatu Luptatquis et alignie nihillis placeaque assin nitamus et quiquae eos magnate mporatu ribusdae comnis mo eum nobis.
              <span><a href="#">Read More</a></span>
            </p>
          </article>
          <article class="news">
            <h2>Headline 2</h2>
            <p>
              Icit quae quo quia iliquam dolore voluptasit quidus. mporatu Luptatquis et alignie nihillis placeaque assin nitamus et quiquae eos magnate mporatu ribusdae comnis mo eum nobis.
              <span><a href="#">Read More</a></span>
            </p>
          </article>
          <article class="news">
            <h2>Headline 2</h2>
            <p>
              Icit quae quo quia iliquam dolore voluptasit quidus. mporatu Luptatquis et alignie nihillis placeaque assin nitamus et quiquae eos magnate mporatu ribusdae comnis mo eum nobis.
              <span><a href="#">Read More</a></span>
            </p>
          </article>
          <article class="news">
            <h2>Headline 2</h2>
            <p>
              Icit quae quo quia iliquam dolore voluptasit quidus. mporatu Luptatquis et alignie nihillis placeaque assin nitamus et quiquae eos magnate mporatu ribusdae comnis mo eum nobis.
              <span><a href="#">Read More</a></span>
            </p>
          </article>
          <article class="news">
            <h2>Headline 2</h2>
            <p>
              Icit quae quo quia iliquam dolore voluptasit quidus. mporatu Luptatquis et alignie nihillis placeaque assin nitamus et quiquae eos magnate mporatu ribusdae comnis mo eum nobis.
              <span><a href="#">Read More</a></span>
            </p>
          </article>
        </section>

        <aside class="asideRight">

          <section class="aside-cta">
            <div class="asideLogo">
              <img src="../public/images/nannLogo2.png" alt="National Association of Neonatal Nurses logo." />
            </div>
            <article class="aside-cta-text">
              <h2>Headline Call to Action</h2>
              <p>
                Icit quae quo quia iliquam dolore voluptasit quidus. mporatu Luptatquis et alignie nihillis placeaque assin nitamus et quiquae eos magnate mporatu ribusdae comnis mo eum nobis. <span><a href="#">Read More</a></span>
              </p>
            </article>
          </section>

          <section class="asidePost">
            <article>

              <div class="text">
                <div class="textInfo">
                  <img src="../public/images/couplesChild.jpg" alt="" />
                  <h2>Baby Steps to Home</h2>
                  <h3>A free discharge resource</h3>
                  <p>
                     Voluptqui dolor sit, eosam eum veos magnate ribusdae comnis eum nobis. <span><a href="#">Read More</a></span>
                  </p>
                </div>
                <div class="borderColors">
                  <div class="colorG"></div><!--hey
                  --><div class="colorY"></div><!--hey
                  --><div class="colorO"></div><!--hey
                  --><div class="colorB"></div>
                </div>
              </div>
            </article>
          </section>

        </aside>
      </div>
    </div>

    <!-- FOOTER SECTION -->
    <footer>
      <div class="socialMedia">
        <ul>
          <li><a href="https://www.youtube.com/" target="_blank"><img src="../public/images/youTubeIcon.png" alt="Follow us on You Tube" /></a></li>
          <li><a href="https://instagram.com/" target="_blank"><img src="../public/images/instagramIcon.png" alt="Follow us on Instagram" /></a></li>
          <li><a href="https://twitter.com/?lang=en" target="_blank"><img src="../public/images/twitterIcon.png" alt="Follow us on Twitter" /></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><img src="../public/images/facebookIcon.png" alt="Follow us on Facebook" /></a></li>
          <li><a href="https://www.linkedin.com/" target="_blank"><img src="../public/images/linkedinIcon.png" alt="Follow us on Linkedin" /></a></li>
        </ul>
      </div>
      <address>
        <strong>&copy; National Association of Neonatal Nurses</strong><br>
        <a href="https://maps.google.com/" target="_blank">8735 W. Higgins Road, Suite 300<br>Chicago, IL 60631</a><br>
        <a href="mailto:info@nann.org">info@nann.org</a><br>
        <a href="tel:+8004513795">800.451.3795</a>
      </address>
    </footer>


    <!-- SCRIPTS DEPENDENCIES -->
    <script src="../public/javascripts/lib/jquery.min.js"></script>
    <!-- APPLICATION JAVASCRIPT -->
    <script src="../public/javascripts/app.js"></script>
    <!-- ALERT TO UPDATE OLDER BROWSERS -->
    <script src="../public/javascripts/alert.js"></script>

  </body>
</html>
