/* Table of content
- Repeated Styles and Fonts
- Header and Navigation
- Page Footer
- Media Queries
- Animations
*/

/*NORMALIZE STYLES SECTION*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a{
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

a img{
  border: none;
  outline: none;
}

img {
  border: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OPENSANS.TTF') format('truetype');
}
@font-face {
  font-family: OpenSansBold;
  src: url('../../public/fonts/OPENSANS-SEMIBOLD.TTF') format('truetype');
}

/*REPEATED STYLES*/
body{
  /*max-width: 2600px;*/
  color: #7B6F67;
}
.page-ctn{
  width: 100%;
}
.content p,
.content a,
.content ul{
 font-size: 18px;
 line-height: 1.6em;
 font-family: OpenSans, Helvetica, 'Arial', sans-serif;
}
.heroMain,
.content,
.cta a{
  font-family: OpenSansBold, 'Open Sans', Helvetica, 'Arial', sans-serif;
}
.content span>a{
  color: #ef632f;
  text-decoration: underline;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6{
  line-height: 1.2em;
  margin: 0px 0px 5px;
}
.heroMain,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6{
  color: #15539c;
}

.content h1{ font-size: 32px; }
.content h2{ font-size: 28px; }
.content h3{ font-size: 20px; }
.content h4{ font-size: 18px; }
.content h5{ font-size: 16px; }
.content h6{ font-size: 14px; }

.newsFeed article h1,
.newsFeed article h2,
.newsFeed article h3,
.newsFeed article h4,
.newsFeed article h5,
.newsFeed article h6{
  color: #4cb2b0;
}
.content p{
  color: #7B6F67;
}
/*HEADER AND NAVIGATION*/

header::before,
header::after{
  content: "";
  display: table;
}
header::after{
  clear: both;
}
header{
  position: relative;
  clear: both;
  width: 100%;
  padding-bottom: 10px;
  background-color: #fff;
  text-align: center;
}
.headerBorder img{
  display: none;
}
.headerBorder{
  height: 35px;
  width: 100%;
  padding: 0px 3%;
  background-color: #429fac;
}

.nav-ct{
  padding: 0px 3%;
}
.nav-ct  img{
  float: left;
  width: 13%;
  min-width: 180px;
  max-width: 350px;
  height: auto;
  margin-top: 10px;
  transition: .2s;
}
.ie8 .nav-ct .logo{
  height: 90px;
}

  .navTop{
    position: relative;
    display: inline-block;
    float: right;
    padding: 7px 10px 20px;
    background-color: #BFD730;
    border-radius: 0px 0px 20px 20px;
    -ms-border-radius: 0px 0px 20px 20px;
  }
  .navTop div.navlist{
    display: inline-block;
    vertical-align: bottom;
    font-size: 16px;
    font-family: OpenSansBold, 'Open Sans', 'Arial', sans-serif;
  }
  .navTop ul li{
    display: inline-block;
    margin-left: 10px;
  }
  .navTop ul li a{
    color: #15539c;
  }
  .navTop ul li a:hover{
    color: #429FAC;
    transition: .2s;
  }

.hamIcon{
  display: none;
}
.search{
  display: inline-block;
  position: relative;
  top: 10px;
  margin: 0px 10px 0px 0px;
}

  .searchIcon{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 100%;
    background-color: #15539c;
    z-index: 2;
  }
  .circle,
  .line{
    position: relative;
  }
  .circle{
    top: 12%;
    left: 14%;
    width: 60%;
    height: 60%;
    border: solid 4px #BFD730;
    border-radius: 100%;
  }
  .line{
    top: 6%;
    left: 50%;
    width: 40%;
    border: solid 4px #BFD730;
    border-radius: 4px 2px 2px 4px;
    -ms-transform: rotate(50deg);
    -webkit-transfrom: rotate(50deg);
    -moz-transfrom: rotate(50deg);
    -o-transfrom: rotate(50deg);
    transform: rotate(50deg);
  }

.searchForm{
  display: inline-block;
  vertical-align: top;
}

input[type=text]{
  opacity: 0;
  height: 45px;
  width: 45px;
  padding: 5px 40px 5px 10px;
  border: solid 1px transparent;
  border-radius: 30px;

  box-shadow: none;
  font-size: 18px;
  font-family: OpenSans, Helvetica, Arial, sans-serif;
}
input[type=text]:active,
input[type=text]:focus{
outline: 0;
border: 1px solid #93B7CC;
}
input[type=image]{
  display: none
}

  .mainNav{
    clear: right;
    float: right;
    margin-top: 10px;
    font-family: OpenSansBold, 'Open Sans', 'Arial', sans-serif;
  }
  .mainNav ul li{
    display: inline-block;
    text-align: center;
  }
  .mainNav ul li a{
    display: block;
    padding: 10px 15px 5px;
    border-bottom: solid 4px #fff;
    color: #15539c;
    font-size: 16px;
  }
  .mainNav ul li a:hover{
    border-bottom: solid 4px #ef632f;
  }
/*ACTIVE LICK STYLES*/

.activeLink{
  border-bottom: solid 2px #EF632F;
}
.subLink{
  color: #EF632F;
}

/*CONTAINER FOR PAGES CONTENT*/

.border{
  border-top: solid 2px gray;
}
  .content::before,
  .content::after{
    content: "";
    display: table;
  }
  .content::after{
    clear: both;
  }
  .content{
    clear: both;
    width: 95%;
    margin: 0px auto;
    padding: 40px 0px 60px;
  }
  .ie8 .content{
    overflow: auto;
    zoom: 1;
  }

/*PAGE FOOTER*/
footer::before,
footer::after{
  content: "";
  display: table;
}
footer::after{
  clear: both;
}
footer{
  clear: both;
  width: 100%;
  padding: 30px 5% 50px;
  background-color: #15539c;
  font-size: 18px;
  font-family: OpenSansBold, 'Arial', sans-serif;
  color: #fff;
}
.ie8 footer{
  overflow: auto;
  zoom: 1;
}
address{
  float: left;
  font-size: 16px;
}
.socialMedia{
  float: right;
  width: 40%;
  min-width: 270px;
  text-align: right;
}
.socialMedia ul li{
  display: inline-block;
  margin-left: 2%;
  width: 10%;
  min-width: 45px;
}
.socialMedia ul li:nth-child(1){
  margin-left: 0px;
}
.socialMedia img{
  width: 100%;
  border-radius: 100%;
}
.socialMedia img:hover{
  box-shadow: 0px 0px 0px 3px  #fff;
  transition: .2s;
}


/*MEDIA QUERIES FOR COMMON CONTENT*/
@media only screen and (min-width: 1600px) {
  .content h1{ font-size: 84px; }
  .content h2{ font-size: 74px; }
  .content h3{ font-size: 50px; }
  .content h4{ font-size: 38px; }
  .content h5{ font-size: 36px; }
  .content h6{ font-size: 34px; }

  .content p,
  .content a,
  .content ul{
   font-size: 32px;
  }

  .headerBorder {
    height: 45px;
  }
  .navTop{
    padding: 7px 30px 20px;
  }

  .navTop div.navlist {
    font-size: 28px;
  }

  .mainNav {
    margin-top: 20px;

    }

  .mainNav ul li a {
    font-size: 28px;
  }

  .searchIcon{
    width: 70px;
    height: 70px;
  }
  .line{
    top: 10%;
  }
  input[type=text]{
    height: 70px;
    width: 70px;
    font-size: 24px;
    border-radius: 35px;
  }

  .mainNav ul li a:hover{
    border-bottom: solid 6px #ef632f;
  }

  .border{
    border-top: solid 4px gray;
  }

  footer address{
    font-size: 32px;
  }
}

@media only screen and (min-width: 2600px) {
  .content h1{ font-size: 98px; }
  .content h2{ font-size: 84px; }
  .content h3{ font-size: 60px; }
  .content h4{ font-size: 48px; }
  .content h5{ font-size: 46px; }
  .content h6{ font-size: 44px; }

  .content p,
  .content a,
  .content ul{
   font-size: 48px;
  }
  .headerBorder {
    height: 55px;
  }
  .navTop{
    padding: 14px 30px 35px;
  }

  .navTop div.navlist {
    font-size: 34px;
  }

  .mainNav {
    margin-top: 20px;

    }

  .mainNav ul li a {

    font-size: 34px;
}

  .searchIcon{
    width: 80px;
    height: 80px;
  }
  .line{
    top: 12%;
  }
  input[type=text]{
    height: 80px;
    width: 80px;
    font-size: 32px;
    border-radius: 40px;
  }

  .mainNav ul li a:hover{
    border-bottom: solid 8px #ef632f;
  }

  .border{
    border-top: solid 6px gray;
  }

  footer address{
    font-size: 48px;
  }

  .socialMedia img:hover{
    box-shadow: 0px 0px 0px 9px  #fff;
  }

}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1000px) {
  .mainNav ul li a{
    padding: 10px 5px 5px;
    font-size: 14px;
  }
  .nav-ct img{
    min-width: 170px;

  }
}

@media only screen and (max-width: 800px) {
  .headerBorder{
    margin-bottom: 45px;
  }
  .navTop div.navlist {
    font-size: 14px;
  }
  .searchIcon{
    width: 40px;
    height: 40px;
  }
  input[type=text]{
    height: 40px;
    width: 40px;
    font-size: 14px;
  }
  .nav-ct img {
    min-width: 110px;
    margin: 0px;
  }
  .mainNav{
    margin-top: 5px;
  }
  .mainNav ul li a{
    font-size: 12px;
  }
  .content p,
  .content a,
  .content ul{
    font-size: 16px;
  }
}

@media only screen and (max-width: 650px) {
  /*----PAGE HEADER MOBILE STYLES----*/
  header{
    padding: 10px 0px 0px;
    background-color: #fff;
    text-align: center;
  }
  .headerBorder img{
    display: inline-block;
    width: 130px;
  }
  .headerBorder{
    height: 0px;
    margin-bottom: 0px;
    padding: 0px 0% 0px;
    background-color: #fff;
  }
  .nav-ct  img{
    display: none;
  }
    .navTop{
      width: 100%;
      padding: 0px;
      background-color: #fff;
      border-radius: 0px;
    }
    .navTop div.navlist{
      display: block;
      margin: 20px 10px 10px;
    }
    .navTop ul{
      display: inline;
    }
    .navTop ul li{
      position: relative;
      top: 8px;
      margin-left: 8%;
      vertical-align: top;
    }
    .navTop ul li:first-child{
      margin-left: 0px;
    }
    .navTop ul li:last-child{
      top: 0px;
      width: 45px;
      height: 31px;
    }
  .hamIcon{
    display: block;
  }
  .hamIcon div{
    height: 5px;
    width: 100%;
    margin-top: 8px;
    background-color: #ef632f;
    border-radius: 2px;
  }
  .hamIcon div:first-child{
    margin-top: 0px;
  }

  .search{
    display: block;
    top: 0px;
    margin: 0px;
    padding: 15px 0px;
    background-color: #B3B3B3;
  }

    .searchIcon{
      display: none;
    }

  .searchForm{
    width: 90%;
    height: 40px;
  }
  input[type=text]{
    opacity: 1;
    width: 100%;
    margin-left: -5px;
    border-radius: 5px;
    border: solid 1px gray;
    box-shadow: inset 0px 0px 1px 0px #000;
    vertical-align: top;
  }
  input[type=text]:active,
  input[type=text]:focus{
  outline: 0;
  }
  input[type=image]{
    display: inline-block;
    width: 30px;
    height: auto;
    margin-left: -39px;
    margin-top: 5px;
    border-radius: 0px 5px 5px 0px;
  }
  input[type=image]:active,
  input[type=image]:focus{
  outline: 0;

  }
    .mainNav{
      float: none;
      display: none;
    }
  /*----PAGE FOOTER MOBILE STYLES----*/
  footer{
    text-align: center;
  }
  address{
    float: none;
    font-size: 16px;
    margin-top: 20px;
  }
  .socialMedia{
    float: none;
    text-align: center;
    margin: 0px auto;
  }
}

@media only screen and (max-width: 550px) {
  .content p,
  .content a,
  .content ul{
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .content h1{ font-size: 28px; }
  .content h2{ font-size: 24px; }
  .content h3{ font-size: 20px; }
  .content h4{ font-size: 18px; }
  .content h5{ font-size: 16px; }
  .content h6{ font-size: 14px; }

  .navTop ul li{
    margin-left: 5%;
    font-size: 12px;
  }
  .navTop ul li:last-child{
    width: 35px;
  }
}

/*ANIMATIONS CLASSES*/
.searchActive{
  background-color: #429FAC;
  animation: clockWise .5s forwards;
  transition: all .2s linear 0s;
}
.unActivate{
  background-color: #15539c;
  animation: counterClockWise .5s forwards;
  transition: all .2s linear 0s;
}
