/* Table of content
- Repeated Styles and Fonts
- Header and Navigation
- Page Footer
- Media Queries
- Animations
*/

/*REPEATED STYLES SECTION*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a{
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

a img{
  border: none;
  outline: none;
}

b,
strong {
  font-weight: bold;
}

header{
  position: relative;
}

@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OPENSANS.TTF') format('truetype');
}
@font-face {
  font-family: OpenSansBold;
  src: url('../../public/fonts/OPENSANS-SEMIBOLD.TTF') format('truetype');
}
body{
  max-width: 2600px;
}
.page-ctn{
  width: 100%;
}
/*HEADER AND NAVIGATION*/

header::before,
header::after{
  content: "";
  display: table;
}
header::after{
  clear: both;
}
header{
  clear: both;
  width: 100%;
  background-color: #fff;
  text-align: center;
}
.headerBorder{
  height: 35px;
  width: 100%;
  padding: 0px 3%;
  background-color: #429fac;
}

.nav-ct{
  padding: 0px 3%;
}
.nav-ct > a img.logo{
  float: left;
  width: 10%;
  min-width: 180px;
  max-width: 350px;
  margin: 10px 0px 0px 10px;
}

  .navTop{
    position: relative;
    display: inline-block;
    float: right;
    padding: 7px 10px 20px;
    background-color: #BFD730;
    border-radius: 0px 0px 20px 20px;;
  }
  .navTop div.navlist{
    display: inline-block;
    vertical-align: bottom;
    font-size: 16px;
    font-family: OpenSansBold, 'Open Sans', 'Arial', sans-serif;
  }
  .navTop ul li{
    display: inline-block;
    margin-left: 10px;
  }
  .navTop ul li a{
    color: #15539c;
  }
  .navTop ul li a:hover{
    color: #429FAC;
    transition: .2s;
  }

.search{
  display: inline-block;
  position: relative;
  top: 10px;
  margin: 0px 10px 0px 20px;
}

  .searchIcon{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: #15539c;
    z-index: 2;
  }
  .searchActive{
    background-color: #429FAC;
    animation: clockWise .5s forwards;
    transition: all .2s linear 0s;
  }
  .unActivate{
    background-color: #15539c;
    animation: counterClockWise .5s forwards;
    transition: all .2s linear 0s;
  }
  .circle,
  .line{
    position: relative;
  }
  .circle{
    top: 10%;
    left: 15%;
    width: 25px;
    height: 25px;
    border: solid 4px #BFD730;
    border-radius: 20px;
  }
  .line{
    top: 6%;
    left: 50%;
    width: 20px;
    border: solid 4px #BFD730;
    border-radius: 4px 2px 2px 4px;
    transform: rotate(50deg);
    -webkit-transfrom: rotate(50deg);
    -moz-transfrom: rotate(50deg);
    -o-transfrom: rotate(50deg);
    -ms-transfrom: rotate(50deg);
  }

.searchForm{
  display: inline-block;
  vertical-align: top;
}
input[type=text]{
  height: 45px;
  width: 45px;
  padding: 5px 10px;
  border: solid 1px transparent;
  border-radius: 30px;
  font-size: 18px;
  font-family: OpenSans, Helvetica, Arial, sans-serif;
}
input[type=text]:active,
input[type=text]:focus{
outline: 0;
border: 1px solid #93B7CC;
}

  .mainNav{
    clear: right;
    float: right;
    margin-top: 10px;
    font-size: 16px;
    font-family: OpenSansBold, 'Open Sans', 'Arial', sans-serif;
  }
  .mainNav ul li{
    display: inline-block;
  }
  .mainNav ul li a{
    display: block;
    width: 140px;
    padding: 10px 5px 5px;
    border-bottom: solid 4px #fff;
    color: #15539c;
  }
  .mainNav ul li a:hover{
    border-bottom: solid 4px #ef632f;
  }

/*PAGE FOOTER*/
footer::before,
footer::after{
  content: "";
  display: table;
}
footer::after{
  clear: both;
}
footer{
  clear: both;
  width: 100%;
  padding: 30px 5% 50px;
  background-color: #15539c;
  font-size: 18px;
  font-family: OpenSansBold, 'Arial', sans-serif;
  color: #fff;
}
.info-loc{
  float: left;
  margin-bottom: 15px;
}
.socialMedia{
  float: right;
}
.socialMedia ul li{
  display: inline-block;
  margin-left: 5px;
}
.socialMedia ul li:nth-child(1){
  margin-left: 0px;
}
.socialMedia img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.socialMedia img:hover{
  box-shadow: 0px 0px 0px 3px  #fff;
  transition: .2s;
}


/*MEDIA QUERIES */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/*ANIMATIONS CLASSES*/
.expand{
  animation: expandSearch .2s linear forwards;
}
.unexpand{
  animation: removeExpand .2s linear forwards;
}
