/*---- ASIDE NAVIGATIONAL MENU ----*/
.sideNav{
  float: left;
  width: 19%;
  margin-right: 1%;
}
.sideNav ul{ list-style: none; }
.sideNav ul li a{
  padding: 5px 0px;
  font-family: OpenSansBold, 'Open Sans', Helvetica, 'Arial', sans-serif;
}
.sideNav ul a{ display: block; }
.sideNav ul a:hover{
  color: #EF632F;
  transition: .2s;
}
.sideNav ul li ul{ margin-left: 8%; }
.sideNav ul li ul li a{
  font-weight: 100;
  font-family: OpenSans, Helvetica, 'Arial', sans-serif;
}

/*---- EDUCATION ARTICLE SECTION ----*/
.artInfo{
  float: right;
  clear: both;
  width: 79%;
  margin-left: 1%;
}
.artInfo > img{
  width: 100%;
  height: auto;
  margin: 10px 0px 30px;
}
.art-ct{ margin-bottom: 40px; }
.art-ct > article{
  margin: 30px 0px;
  padding: 0px 10px;
}
.artInfo article > img{
  width: 30%;
  min-width: 130px;
  height: auto;
}
.art-ct ul{ padding: 20px 5%; }
.art-ct h2{ color: #15539c; }
.art-ct h3{
  color: #4cb2b0;
}
.art-ct h4,
.art-ct h5,
.art-ct h6{
  color: #565555;
}
.art-ct a{
  display: inline-block;
  margin: 10px 0px;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: #ef632f;
}
.art-ct a:hover{
  background-color: #EE845C;
  transition: .2s;
}

@media only screen and (min-width: 1600px) {
  .art-ct{ margin-bottom: 40px; }
  .art-ct a {
    margin: 30px 0px;
    border-radius: 30px;
  }
  .art-ct h2 { margin-bottom: 20px; }
  .art-ct ul { padding: 40px 5%; }
}

@media only screen and (min-width: 2600px) {
  .art-ct a { border-radius: 40px; }
}

@media only screen and (max-width: 655px) {
  .content{
    width: 100%;
    margin: 0px;
    padding: 0px 0px 60px;
  }
  .sideNav{ display: none; }
  .border{ border: none; }
  .artInfo{
    float: none;
    width: 100%;
    margin: 0px;
  }
  .artInfo > img{
    padding: 0px;
    margin: 0px;
  }
  .artInfo article{
    margin: 30px 0px;
    padding: 0px 10px;
  }
}
