/*MAIN HERO SECTION*/
.heroMain::before,
.heroMain::after{
  content: "";
  display: table;
}
.heroMain::after{
  clear: both;
}

.heroMain{
  clear: both;
  width: 100%;
  padding: 50px;
  background: url("../../public/images/heroMain.jpg") #fff no-repeat;
  background-size: cover;
  color: #15539c;
  font-family: OpenSansBold, 'Open Sans', Helvetica, 'Arial', sans-serif;
}
.att-heading{
  float: right;
  width: 400px;
  margin: 100px 0px;
  font-size: 38px;
  line-height: 48px;
}
.ie8 .heroMain{
  overflow: auto;
  zoom: 1;
}

/*LANDING CONTENT SECTIONS*/
.content::before,
.content::after{
  content: "";
  display: table;
}
.content::after{
  clear: both;
}
.content{
  clear: both;
  width: 95%;
  margin: 0px auto;
  padding: 40px 0px 60px;
}
.ie8 .content{
  overflow: auto;
  zoom: 1;
}
.ctaLarge{
  float: left;
  width: 32%;
  min-width: 240px;
  margin-left: 2%;
  margin-bottom: 20px;
  text-align: center;
  font-family: OpenSansBold, 'Open Sans', Helvetica, 'Arial', sans-serif;
}
.ie8 .ctaLarge:first-child{
  margin-left: 0%;
}
.cta-back{
  background-color: #15539c;
  border-radius: 0px 0px 20px 20px;
}
.ctaLarge:nth-child(1){
  margin-left: 0px;
}
.ctaLarge h2{
  width: 100%;
  padding: 5px;
  background-color: #BFD730;
  color: #15539c;
  border-radius: 20px 20px 0px 0px;
}
.ctaLarge img{
  width: 50%;
  display: block;
  margin: 0px auto;
}
.ctaLarge a{
  display: inline-block;
  margin-bottom: 30px;
  padding: 5px 30px;
  border-radius: 15px;
  background-color: #ef632f;
  font-size: 18px;
  letter-spacing: .5px
}
.ctaLarge a:hover{
  background-color: #EE845C;
  transition: .2s;
}

/*NEWS FEED SECTION*/
.newsFeed{
  float: left;
  clear: both;
  width: 60%;
  padding-right: 10px;
}
.newsFeed h1{
  color: #15539c;
  font-size: 32px;
  font-family: OpenSansBold, 'Open Sans', Helvetica, 'Arial', sans-serif;
}
.news{
  padding: 10px 0px;
  border-bottom: solid 2px #808080;
  color: #7B6F67;
  font-family: OpenSans, Helvetica, 'Arial', sans-serif;
}
.news h2{
  padding-bottom: 10px;
  color: #4cb2b0;
  font-size: 26px;
  font-family: OpenSansBold, 'Open Sans', Helvetica, 'Arial', sans-serif;
}
.news span>a,p{
  font-size: 18px;
  line-height: 28px;
}
.news span>a{
  color: #ef632f;
  text-decoration: underline;
}

/*ASIDE SECTION STYLES*/
.asideRight{
  float: left;
  width: 40%;
  padding-left: 10px;
}
.aside-cta{
  margin-bottom: 40px;
  border-radius: 10px;
  background: url("../../public/images/circles.png") #d3e268 no-repeat;
  background-size: 180px;
  background-position: right -40px bottom -100px;
}
.asideLogo{
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: #4cb2b0;
}
.asideLogo img{
  width: 200px;
}
.aside-cta-text{
  padding: 20px 10px;
}
.aside-cta-text h2{
  color: #15539c;
  font-size: 28px;
  font-family: OpenSansBold, 'Open Sans', Helvetica, 'Arial', sans-serif;
}
.aside-cta-text p{
  color: #7B6F67;
  font-family: OpenSans, Helvetica, 'Arial', sans-serif;
}
.aside-cta-text span>a{
  color: #ef632f;
  text-decoration: underline;
}


.needName{
  position: relative;
  height: 250px;
  /*overflow: hidden;*/
}
.needName .thumb{

}
.needName img{
  float: left;
  width: 35%;
  max-width: 185px;
}
.needName .text{
  height: 250px;
  overflow: hidden;
  padding-left: 10px;
}
.needName .textInfo{
  height: 220px;
  overflow: hidden;
}
.needName article{
  height: 250px;
}
.needName article h2{
  color: #15539c;
  font-size: 28px;
  font-family: OpenSansBold, 'Open Sans', Helvetica, 'Arial', sans-serif;
}
.needName article h3{
  color: #565555;
  font-size: 20px;
  font-family: OpenSansBold, 'Open Sans', Helvetica, 'Arial', sans-serif;
}
.needName article p{
  color: #7B6F67;
  font-family: OpenSans, Helvetica, 'Arial', sans-serif;
}
.needName article span>a{
  color: #ef632f;
  text-decoration: underline;
}
.borderColors{
  position: relative;
  width: 100%;
  bottom: -10px;
}
.borderColors div{
  display: inline-block;
  margin-left: 2%;
  height: 20px;
}
.borderColors .colorG{ width: 23%; margin-left: 0px; background-color: #02b2af;}
.borderColors .colorY{ width: 23%; background-color: #fbe444;}
.borderColors .colorO{ width: 23%; background-color: #f16829;}
.borderColors .colorB{ width: 23%; background-color: #01529a;}
