/*MAIN HERO SECTION*/
  .heroMain::before,
  .heroMain::after{
    content: "";
    display: table;
  }
  .heroMain::after{
    clear: both;
  }
  .heroMain{
    clear: both;
    width: 100%;
    padding: 160px 30px;
    background: url("../../public/images/heroMain.jpg") #fff no-repeat;
    background-size: cover;
  }
  .heroMain h1{
    float: right;
    width: 430px;
    font-size: 42px;
    line-height: 1.4em;
  }
  .ie8 .heroMain{
    overflow: auto;
    zoom: 1;
  }
  .heroMain img{
    display: none;
  }

/*CALL TO ACTION BUTTONS*/
.ctaLarge{
  float: left;
  width: 32%;
  min-width: 180px;
  margin-left: 2%;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.ctaLarge:first-child{
  margin-left: 0%;
}
.ctaLarge:last-child{
  display: none;
}
.ctaLarge div{
  padding: 0px 0px 30px;
  background-color: #15539c;
  border-radius: 0px 0px 20px 20px;
}
.ctaLarge img{
  width: 50%;
  display: block;
  margin: 0px auto;
}
.ctaLarge h2{
  width: 100%;
  padding: 5px;
  margin: 0px;
  background-color: #BFD730;
  border-radius: 20px 20px 0px 0px;
  font-size: 24px;
}
.ctaLarge span{
  display: inline-block;
  padding: 5px 30px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: #ef632f;
  letter-spacing: .5px;
  line-height: 24px;
}

/*NEWS FEED SECTION*/
  .newsFeed{
    float: left;
    clear: both;
    width: 60%;
    padding-right: 10px;
  }
  .newsFeed article{
    padding: 10px 0px;
    border-bottom: solid 2px #808080;
  }
  .newsFeed article h2{
    padding-bottom: 5px;
  }
  .newsFeed ul{
    padding: 20px 40px;
    color: #7B6F67;
  }

/*ASIDE CALL TO ACTION SECTION*/
.asideRight{
  float: left;
  width: 40%;
  min-width: 247px;
  padding-left: 10px;
}
.aside-cta{
  margin-bottom: 40px;
  border-radius: 10px;
  background: url("../../public/images/circles.png") #d3e268 no-repeat;
  background-size: 180px;
  background-position: right -40px bottom -100px;
}
.asideLogo{
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: #4cb2b0;
}
.asideLogo img{
  width: 200px;
}
.aside-cta-text{
  padding: 20px 10px;
}


/*ASIDE POST CONTENT*/
.asidePost::before,
.asidePost::after{
  content: "";
  display: table;
}
.asidePost::after{
  clear: both;
}
.asidePost{
  clear: both;
}
.asidePost img{
  float: left;
  width: 35%;
  max-width: 185px;
}
.asidePost .textInfo{
  height: 230px;
}
.asidePost h2,
.asidePost h3,
.asidePost p,
.borderColors{
  float: right;
  width: 62%;
}
.asidePost h3{
  color: #565555;
}

.borderColors div{
  display: inline-block;
  margin-left: 2%;
  height: 20px;
}
.borderColors .colorG{ width: 23.5%; margin-left: 0px; background-color: #02b2af;}
.borderColors .colorY{ width: 23.5%; background-color: #fbe444;}
.borderColors .colorO{ width: 23.5%; background-color: #f16829;}
.borderColors .colorB{ width: 23.5%; background-color: #01529a;}


/*MEDIA QUERIES FOR LANDING CONTENT*/
@media only screen and (max-width: 1200px) {
  .heroMain{
    background-size: contain;
    padding: 12% 30px;
  }
  .heroMain h1{
    width: 400px;
    font-size: 38px;
    transition: .2s;
  }
}
@media only screen and (max-width: 1000px) {
  .heroMain h1{
    width: 330px;
    font-size: 32px;
  }
  .ctaLarge h2{
    font-size: 20px;
  }
  .content p,
  .content a,
  .content ul{
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .heroMain{
    padding: 10% 30px;
  }
  .heroMain h1{
    width: 280px;
    font-size: 28px;
  }
  .ctaLarge h2{
    font-size: 18px;
  }
  .ctaLarge span{
    line-height: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .heroMain{
    position: relative;
    width: 100%;
    padding: 0px;
    background-image: none;
  }
  .heroMain img{
    display: block;
    width: 100%;
  }
  .heroMain h1{
    position: absolute;
    bottom: 0px;
    float: none;
    width: 100%;
    padding:  0px 30px 10px;
    font-size: 32px;
  }
/*---CALL TO ACTION BUTTONS MOBILE---*/
  .ctaLarge{
    float: none;
    width: 100%;
    min-width: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    text-align: left;
  }
  .ctaLarge:last-child{
    display: block;
    text-align: center;
  }
  .ctaLarge div{
    float: none;
    width: 10%;
    height: 80px;
    padding: 0px 0px;
    background-color: #BFD730;
    border-radius: 10px 0px 0px 10px;
  }
  .ctaLarge:last-child div{
    display: none;
  }
  .ctaLarge img{
    display: none;
  }
  .ctaLarge h2{
    float: right;
    width: 90%;
    padding: 26px 0px 26px 5%;
    margin: 0px;
    background-color: #15539c;
    border-radius: 0px 10px 10px 0px;
    font-size: 24px;
    color: #fff;
  }
  .ctaLarge:last-child h2{
    width: 100%;
    padding: 26px 0px 26px 0px;
    border-radius: 10px;
    background-color: #4cb2b0;
    margin-bottom: 20px;
  }
  .ctaLarge span{
    display: none;
  }
/*---NEWS FEED MOBILE---*/
  .newsFeed{
    width: 100%;
    padding-bottom: 30px;
  }
  .asideRight{
    width: 100%;
    padding-left: 0px;
  }
  .aside-cta{
    display: none;
  }

}
@media only screen and (max-width: 550px) {
  .heroMain h1{
    font-size: 24px;
  }
}
@media only screen and (max-width: 450px) {
  .heroMain h1{
    font-size: 18px;
    padding:  0px 10px 10px;
  }
}
